
/*Header styles*/

header{
    padding: 1rem;
    background-color: black;
    margin-bottom: 2rem;
}

nav{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    padding-right: 2rem;
    font-size: .85rem;

}

.navbar-brand {
    display: block;
    overflow: hidden;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    width: 100%;
    height: 4rem;
    background-color: black;
    text-indent: -99999999px;
    flex: 0 0 calc(100% - 3rem);
    max-width: calc(100% - 3rem);
}

.navbar-toggle{
    border: 0 none;
    background-color: #9aceeb;
    color: white;
    width: 2rem;
    height: 2rem;
    flex: 0 0 2rem;
    max-width: 2rem;
    font-size: 1rem;
    line-height: 1rem;
    cursor: pointer;
}

.navbar {
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
}

.navbar.open{
    display: block;
}

.navbar, .navbar ul, .navbar li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
}

.navbar a:link, .navbar a:active, .navbar a:visited {
    color: white;
    display: block;
    overflow: hidden;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
}

.navbar a:hover{
    color: #9aceeb;
}

.navbar .dropdown > a:after{
    content: "\f0d7";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    position: absolute;
    right: 0;

}

.navbar .dropdown.open > a:after{
    content: "\f0d8";
}

.navbar .dropdown ul{
    display: none;   
}

.navbar .dropdown.open ul{
    display: block;   
}

.navbar .dropdown ul a:link,
.navbar .dropdown ul a:hover, 
.navbar .dropdown ul a:active, 
.navbar .dropdown ul a:visited {
    background-color: #9aceeb;
    color: white;
}

.navbar .dropdown ul a:hover {
    background-color:#90c4e0;
}

@media screen and (min-width: 768px){
    .navbar-brand{
        flex: 0 0 180px;
        max-width: 180px;
    }
    
    .navbar-toggle{
        display: none;
    }

    .navbar{
        display: block;
        flex: 0 1 calc(100% - 220px);
        max-width: calc(100% - 220px);
        text-align: right;
    }

    .navbar > li{
        display: inline-block;
    }

    .navbar .dropdown ul{
        position: absolute;
        z-index: 1;
        width: 200px;
        text-align: left;
    }
}

/*End of header styles*/